@import "./defaults/color";
@import "./components/header";
@import "./components/footer";

body {
    margin: 0;
    background-color: #d9e4ab;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}